/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    color: white;
}
.wrapper{
    background-image: url('./assets/bg.jpg');
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
